Repository zeebats/stylelint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npx sort-package-json

feat: remove `declaration-property-unit-disallowed-list` rule
  index.js
Due: npm run eslint:fix

feat: add testing for validating `stylelint` config
  package-lock.json
  package.json
  tests/validate-config.js
Due: npm run eslint:fix, npx sort-package-json

feat: add Github Action to run `test` script on PRs
  .github/workflows/test.yml
Due: none

fix: change to carets for peer deps
  package-lock.json
  package.json
Due: npx sort-package-json

fix: add `vue` specific config + deps cleanup
  README.md
  index.js
  package-lock.json
  package.json
Due: npm run eslint:fix, npx sort-package-json

fix: remove `declaration-property-unit-allowed-list` rule
  index.js
Due: npm run eslint:fix

fix: remove `property-disallowed-list` rule
  index.js
Due: npm run eslint:fix

fix: cleanup `package.json` file
  README.md
  package.json
Due: npx sort-package-json

fix: remove redundant rules + cleanup
  index.js
Due: npm run eslint:fix

feat: create `codeql` config
  .github/workflows/codeql-analysis.yml
Due: none

docs: add `File Associations` section
  README.md
Due: none

docs: change shield label color
  README.md
Due: none

feat: increase `number-max-precision` rule to `6`
  index.js
Due: npm run eslint:fix

build: delete `codeql` config
  .github/workflows/codeql-analysis.yml
Due: none

fix: turn off `max-line-length` rule
  index.js
Due: npm run eslint:fix

fix: add `attribute` as ignore for `selector-no-qualifying-type` rule
  index.js
Due: npm run eslint:fix

chore: bump version to `1.0.1` 🎉
  package-lock.json
  package.json
Due: npx sort-package-json

chore: update `package-lock.json` file
  package-lock.json
Due: none

chore: update `package-lock.json`
  package-lock.json
Due: none

feat: migrate to renovate
  .github/dependabot.yml
  .github/renovate.json
Due: none

feat: add CODEOWNERS
  .github/CODEOWNERS
Due: none

feat: add create release action
  .github/workflows/create-release.yml
Due: none

feat: add pr-lint action
  .github/workflows/pr-lint.yml
Due: none

Path conditions:
  npm run eslint:fix: any of: *.js
  npx sort-package-json: any of: package.json
