Repository zeebats/stylelint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npx sort-package-json

chore: remove redundant `semantic.yml` config file
  .github/semantic.yml
Due: none

feat: change config to use tabs + reindent source files
  .editorconfig
  .eslintrc.json
  .github/renovate.json
  .lintstagedrc.json
  .simple-git-hooks.json
  index.js
  package-lock.json
  package.json
  tests/validate-config.js
Due: npm run eslint:fix, npx sort-package-json

feat: fix test to use tabs as well
  tests/validate-config.js
Due: npm run eslint:fix

chore: bump version to `1.1.0` 🚀
  package-lock.json
  package.json
Due: npx sort-package-json

chore: update indentation to tabs
  package-lock.json
  package.json
Due: npx sort-package-json

chore: fix correct version
  package-lock.json
  package.json
Due: npx sort-package-json

chore(deps): update dependencies + lockfile
  package-lock.json
  package.json
Due: npx sort-package-json

chore: bump version to `1.1.1` 🚀
  package-lock.json
  package.json
Due: npx sort-package-json

feat: enable Renovate Dependency Dashboard
  .github/renovate.json
Due: none

feat: 1.2.0-beta.2
  .github/workflows/create-release.yml
  .github/workflows/pr-lint.yml
  .github/workflows/test.yml
  .nvmrc
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: npx sort-package-json

feat: 1.2.0-beta.3
  package.json
Due: npx sort-package-json

feat: 1.2.0-beta.4
  package.json
Due: npx sort-package-json

feat: 1.2.0-beta.5
  index.js
  package.json
  pnpm-lock.yaml
Due: npm run eslint:fix, npx sort-package-json

feat: 1.2.0-beta.6
  index.js
  package.json
Due: npm run eslint:fix, npx sort-package-json

feat: 1.2.0-beta.7
  package.json
Due: npx sort-package-json

feat: 1.2.0-beta.8
  index.js
  package.json
Due: npm run eslint:fix, npx sort-package-json

feat: 1.2.0-beta.9
  package.json
  pnpm-lock.yaml
Due: npx sort-package-json

feat: 1.2.0-beta.10
  package.json
Due: npx sort-package-json

chore: bump version
  package.json
Due: npx sort-package-json

feat: 1.3.0 (#106)
  .github/workflows/create-release.yml
  .github/workflows/pr-lint.yml
  .github/workflows/test.yml
  .nvmrc
  index.js
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: npm run eslint:fix, npx sort-package-json

chore: merge updates
  .github/workflows/create-release.yml
  .github/workflows/test.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: npx sort-package-json

feat: 1.4.0
  .editorconfig
  .eslintrc.json
  .lintstagedrc.json
  .lintstagedrc.mjs
  .simple-git-hooks.json
  index.js
  package-lock.json
  package.json
Due: npm run eslint:fix, npx sort-package-json

feat: native node test runner
  .eslintrc.json
  package-lock.json
  package.json
  tests/validate-config.js
Due: npm run eslint:fix, npx sort-package-json

feat: esm lint-staged
  .lintstagedrc.js
  .lintstagedrc.mjs
  .simple-git-hooks.json
Due: npm run eslint:fix

feat: set-up git hooks on prepare
  package.json
Due: npx sort-package-json

feat: add commit linting
  .commitlintrc.json
  package-lock.json
  package.json
Due: npx sort-package-json

Path conditions:
  npm run eslint:fix: any of: *.js
  npx sort-package-json: any of: package.json
